## Install & import Arize SDK

In [1]:
from arize.pandas.logger import Client, Schema
from arize.utils.types import ModelTypes, Environments
import pandas as pd
import os

# Load the dataset

In [ ]:
df = pd.read_excel("arize_multiclass_demo.xlsx")  # require openpyxl

In [6]:
df.head(5)

,prediction_id,timestamp,cat_binary,cat_multi,numeric_1,numeric_2,ordinal_1,ordinal_2,actual_label,pred_prob_class1,pred_prob_class2,pred_prob_class3,prediction_label
0,1,2025-07-01 00:00:00,yes,B,0.178,97.15,1,4,class1,0.3943,0.0784,0.5273,class3
1,2,2025-07-01 00:01:00,no,C,-1.335,33.13,2,4,class2,0.0314,0.6557,0.3130,class2
2,3,2025-07-01 00:02:00,yes,A,0.380,48.20,3,2,class2,0.0965,0.6992,0.2042,class2
3,4,2025-07-01 00:03:00,yes,A,0.611,19.61,2,6,class1,0.6400,0.3455,0.0145,class1
4,5,2025-07-01 00:04:00,yes,A,0.560,61.08,4,3,class2,0.0707,0.7903,0.1390,class2

# Create an authenticated Arize client

In [8]:
ARIZE_SPACE_KEY = os.getenv("ak-c94820cd-dfaa-4d5c-b012-0427864223d9-eTiIIBAsvLLtdwxFaSIYiEUQerXDqVfX")
ARIZE_API_KEY   = os.getenv("U3BhY2U6MjE5NTE6SnVvTA==")

arize_client = Client(space_key=ARIZE_SPACE_KEY, api_key=ARIZE_API_KEY)

Diff between api key and space key \
What when and how does project created?\
Does creating new project changes space key?\
What does model in new project or model section?

# Define the model schema